.skills-container{
    padding-top: 8rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.skills-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;


}
.skills-heading{
    font-weight: inherit;
    margin-left: 70px;
    color: rgb(160, 13, 13);
    text-decoration: underline;


    

    font-size: 3rem;
    line-height: 1;
}
.skills-text{
    color: #6b726b;
    padding-top: 0.5rem;
    margin-left: 70px;


}
.skills-icons-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2.25rem;
}
.skills-space{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.skills-space h2{

    color: rgb(160, 13, 13);
    font-weight: inherit;
    font-size: inherit;
    margin-left: 30px;
  

}
/* responsive style */
@media (max-width: 1024px){
    .skills-grid{
        grid-template-columns: 1fr 1fr;
    }
    .skills-heading{
        font-size: 2.25rem;
    }
    .skills-icons-grid{
        font-size: 1rem;
    }
    .skills-left{
        text-align: center;
    }
}